<section class="content">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h5 class="m-0">Lista de Categorias</h5>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a [routerLink]="['']">Home</a>
            </li>
            <li class="breadcrumb-item active">
              Categorias
            </li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card ml-3 mr-3">
        <div class="card-header with-border">
          <button pButton data-toggle="modal" data-target="#modal-create" type="button" label="+ Nova categoria" class="p-button-sm p-button-help p-button-outlined"></button>
        </div>
        <div class="card-body">
          <div class="row">
            <p-table
              #dt
              [value]="categorias"
              dataKey="id"
              styleClass="p-datatable-striped"
              [rowHover]="true"
              [rows]="10"
              [showCurrentPageReport]="true"
              [rowsPerPageOptions]="[10, 50, 100]"
              [loading]="loading"
              [paginator]="true"
              currentPageReportTemplate="Categoria {first} à {last} de {totalRecords}"
              [filterDelay]="0"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 20%" pSortableColumn="email">
                    Id <p-sortIcon field="email"></p-sortIcon>
                  </th>
                  <th style="width: 70%" pSortableColumn="categoria">
                    Descrição <p-sortIcon field="categoria"></p-sortIcon>
                  </th>
                  <th>Ações</th>
<!--                  <th style="width: 20%" pSortableColumn="status">-->
<!--                    Aceite <p-sortIcon field="status"></p-sortIcon>-->
<!--                  </th>-->
                  <!--                  <th style="width: 20%" pSortableColumn="dataEnvio">-->
                  <!--                    Data envio<p-sortIcon field="dataEnvio"></p-sortIcon>-->
                  <!--                  </th>-->
                  <!--                  <th style="width: 20%" pSortableColumn="msgErro">-->
                  <!--                    Erro<p-sortIcon field="msgErro"></p-sortIcon>-->
                  <!--                  </th>-->
                </tr>
                <tr>
<!--                  <th>-->
<!--                    <input-->
<!--                      pInputText-->
<!--                      type="text"-->
<!--                      (input)="dt.filter($event.target.value, 'nome', 'contains')"-->
<!--                      placeholder="Busca por email"-->
<!--                      class="p-column-filter w-100"-->
<!--                    />-->
<!--                  </th>-->
                  <th>
                    <input
                      pInputText
                      type="text"
                      (input)="dt.filter($event.target.value, 'idCategoria', 'contains')"
                      placeholder="Busca por id"
                      class="p-column-filter w-100"
                    />
                  </th>
                  <th>
                    <input
                      pInputText
                      type="text"
                      (input)="dt.filter($event.target.value, 'descricao', 'contains')"
                      placeholder="Busca por descrição"
                      class="p-column-filter w-100"
                    />
                  </th>
                  <!--                  <th>-->
                  <!--                    <input-->
                  <!--                      pInputText-->
                  <!--                      type="text"-->
                  <!--                      (input)="dt.filter($event.target.value, 'dataEnvio', 'contains')"-->
                  <!--                      placeholder="Busca por data"-->
                  <!--                      class="p-column-filter w-100"-->
                  <!--                    />-->
                  <!--                  </th>-->
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-categoria>
                <tr>
                  <td>{{categoria.idCategoria}}</td>
                  <td>{{categoria.descricao}}</td>
                  <td class="text-right">
                    <button type="button" class="btn btn-outline-secondary btn-sm mr-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                      </svg>
                      Editar
                    </button>
                    <button (click) ="excluiCategoria(categoria.idCategoria)" type="button" class="btn btn-outline-danger btn-sm mr-2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                      </svg>
                      Excluir
                    </button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">Nenhuma categoria encontrado</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modal-create" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nova categoria</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group" name="formEnvio" id="formEnvio">
          <div class="form-group">
            <label>Descrição</label>
            <input pInputText type="text" name="descricao" [(ngModel)]="newCategoria.descricao" placeholder="Escreva a descrição">
          </div>
          <!-- ==================== -->
          <!-- FOOTER Modal -->
          <!-- ==================== -->
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Limpar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cadastraCategoria()">Cadastrar categoria</button>
          </div>
        </form>
        <!---->
      </div>
      <!---->
    </div>
  </div>
</div>

